Source: sequencer24
Section: sound
Priority: optional
Maintainer: Chris Ahlstrom <ahlstromcj@gmail.com>
Uploaders: Chris Ahlstrom <ahlstromcj@gmail.com>
Build-Depends: debhelper (>= 7),
 automake,
 autoconf,
 autotools-dev (>= 20100122.1~),
 libgtkmm-2.4-dev,
 libasound2-dev,
 libjack-dev | libjack-jackd2-dev
Standards-Version: 3.9.1
Homepage: http://github.com/ahlstromcj/sequencer24.git
Vcs-Git: git://github.com/ahlstromcj/sequencer24.git
Vcs-Browser: http://github.com/ahlstromcj/sequencer24.git

Package: sequencer24
Architecture: any
Depends: ${shlibs:Depends},
 ${misc:Depends}
Description: Real time MIDI sequencer refactored from seq24
 Sequencer24 was created to modernize, fix, and extend the very nice
 seq24 live-loop sequencer.  Upgraded the build system and upgraded to
 gtkmm-3.0.  It is a minimal, but powerful, sequencer that excludes the 
 bloated features of the large software sequencers and includes a small 
 subset that proved to be useful for live performances.
