[Desktop Entry]
Name=Sequencer24
GenericName=
Comment=MIDI Loop Sequencer
Icon=/usr/share/pixmaps/seq24.xpm

Type=Application
Categories=AudioVideo;Audio;

Exec=sequencer24
Terminal=false
